body {
background-color: #121212;
color: #6b5e5e;
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
padding: 0;

}

header {
padding: 20px;
background-color: #1e1e1e;
}

section {
margin: 20px;
padding: 20px;
background-color: #222;
border-radius: 10px;
}

section:hover {
background: #39393a;
}

#Quiz-Maker:hover {
color: #e1c2be;
}

#My-Resume:hover{
color: #e1c2be;
}

a {
color: #00bcd4;
text-decoration: none;
}

footer {
padding: 10px;
background-color: #1e1e1e;
}


#welcome-text {
font-size: 28px;
font-weight: bold;
text-transform: uppercase;
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00f7ff, #7a00ff, #ff00d4);
-webkit-background-clip: text;
color: transparent;
display: inline-block;
animation: flash 1s infinite alternate, colorShift 5s infinite linear;
}


@keyframes flash {
0% { opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}


@keyframes colorShift {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}                                                                     